*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
  max-width: 100%;
  border-radius: 50%;
}

/* ------------------- */


.vertical-padding2{
  padding: 1rem 0;
}

.flex{
  display: flex;
}

span{
  font-size: .8rem;
}

.space-between{
  justify-content: space-between;
}

header{
  height: 80px;
  background-color: hsl(0deg 0% 91.76%);
  align-items: center;
}

.container-icon{
  gap: 1rem;
  padding-right: 1rem;
}

.name-container{
  align-self: center;
}

.mg-bot1{
  margin-bottom: .3rem;
}



/* background */

.wrap{
  height: 100vh;
  background-image: linear-gradient(lightseagreen 0%,lightseagreen 20%, lightgray 20%,lightgray 80% );
  justify-content: center;    
}
.biggest-container{
  width: 80%;
  height: 95vh;
  margin: 1rem 0;
  border: 2px solid black;   
} 
.button{
  border: none;
  font-size: 1rem;
} 


/*  barra laterale sinistra */

.messages{
  width: 35%;
  height: 100%;
  background-color: white
}

.profile {
  padding: 0 1rem;
}

.profile img{
  height: 3.5rem;
}

/* barra strumenti  */


/*  notifiche  */

#bell{
font-size: 1rem;
background-color: white;
padding: 20px 15px;
border-radius: 50%;
}

.notifications{
  background-color:hsl(198.55deg 94.83% 77.25%);
  align-items: center;
  padding: 2rem 0;
  height: 7rem;
}

.name-container a{
  color: gray;
  font-size: 1rem;
}


/* search */

input[type=text]{
  width: 100%;
  border: none;
}

.search-container{
  background-color:hsl(0deg 0% 91.76%);
  height: 3rem;
}

#search{
  padding: .5rem;
  background-color: white;
  border: none   
}

.wrap-search{
  padding: .5rem;
  height: 3rem
}


/* liste contatti */

.column{
  flex-direction: column;  
}

.list-container{
  overflow-y: auto;
  height: calc(95vh - 88px - 10rem );
  display: block;
}

.list-container span, .sent, time{
  color: gray
}

.list-container li{
  border-bottom: 1px solid lightgray;
}

.list-container li:hover{
  background-color: lightgray;
}  

.sent{
  padding-right: 1rem;
}


/* chat destra */

.chat{
  width: calc(100% - 35%);
  background-image: url(../img/mine.jpg);
  height: 100%;
}

.michele-chat ,.menu{
  min-width: 200px;   
}

.chat span{
  color: gray;
}


/* barra strumenti parte destra  */

.main-right{
  height: calc(95vh - 82px - 82px);
  justify-content: start;
  flex-direction: column;
}

.message:first-child{
  margin-top: 3rem;
}

.message:nth-child(odd){
  align-self: flex-end;
  margin-right: 4rem;
  background-color: hsl(94.29deg 84% 85.29%);
}

.message:nth-child(even){
  align-self: flex-start;
  margin-left: 4rem;
  background-color: white;
}

.message{
  margin-top: 1rem; 
  border-radius: 10px;
  max-width: 60%;  
}

.message p{
  line-height: 1rem;
}

.chevron{
  padding: 0 1rem 0 0;
  position: relative;
}

.time{
  text-align: end;
  font-size: .6rem;
  padding: 0 .2rem .2rem 0;
}

.align{
  padding: 1rem 0 0 1rem;
}

.info{
  background-color: white;
  text-align: center;
  width: 150px;
  position: absolute;
  left: -8rem;
  display: none;    
}

.chevron:hover .info{
  display: block;
}

.info div{
  padding: .5rem;
}


/* footer  */

footer{
  height: 80px;
  background-color: hsl(26.67deg 27.27% 93.53%);
  position: relative;
}  

footer .button{
  background-color: transparent;
  width: 80px;
}

footer input[type=text]{
  height: 60px;
  align-self: center;
  padding:0 1rem ;
  border-radius: 5px;
}

#mic{
  border-radius: 50%;
  color: hsl(198deg 4.42% 44.31%);
  align-self: center;
  height: 80px;
  
  
}
  
/* break point header */

@media screen and (max-width:749px) {
  .messages .container-icon{
      display: none;
  }
}

@media screen and (max-width:504px){ 
  .messages, .container-icon{
      display: none;
  }
  .biggest-container .chat{
      width: 100%;
  }  
  header .container-icon{
      display: none;
  }
}

/* break point main left  */
@media screen and (max-width:749px) {
  
  main .list-container{
      height: calc(95vh - 82px);
  }
  .biggest-container .messages{
      width: 18%;
  }
  .biggest-container .chat{
      width: calc(100% - 18%);
  }
  .messages .name-container, .sent, .search-container, main .notifications{
      display: none;
  }
  header , ul{
      min-width: 100px;
  }
 
  ul .profile{
      min-width: 100px;

  }
}

/* break-point main right  */
@media screen and (max-width:749px) {
  main .message:nth-child(even){
      margin-left: 1.5rem;
  }
  main .message:nth-child(odd){
      margin-right: 1.5rem;
  }
}

@media screen and (max-width:504px){
  main .message:first-child{
      margin-top: 2rem;       
  }
  .biggest-container .chat{
      width: 100%;
  } 
}
