* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'open Sans', sans-serif;
}

ul {
  list-style: none;
}

#container {
  height: 100vh;
  position: relative;
}
/* -------------- */
/* barra strumenti  */
#sidebar {
  width: 410px;
  height: 100%;
  display: inline-block;
  position: relative;
}

#toolbar {
  width: 100%;
  height: 60px;
  background-color: #EEE;
}

.user-photo {
  width: 40px;
  border-radius: 50%;
  margin: 10px 0 0 15px;
  background-color: #CCC;
}

.auxicon {
  float: right;
  height: 60px;
  line-height: 60px;
  padding-right: 20px;
}

.auxicon i {
  color: #80868A;
  font-size: 20px;
  margin: 0 15px 0 15px;
  cursor: pointer;
}

/* notifiche  */
#containernotification {
  width: 100%;
  height: 90px;
  padding: 23px 0 0 80px;
  background-color: #9DE1FE;
  color: #384C56;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.fas.fa-bell-slash {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 18px;
  color: #9DE1FE;
  background-color: #F5FCFF;
  position: absolute;
  top: 20px;
  left: 15px;
}

#containernotification p {
  margin: 0;
}

#containernotification #receivenotification {
  font-size: 15px;
  margin-bottom: 3px;
}

#containernotification #activatenotification {
  font-size: 13px;
}

/* contatti  */
#containersearch {
  width: 100%;
  height: 50px;
  padding: 7.5px 0 0 7.5px;
  background-color: #F8F8F8;
  position: relative;
  color: #BDC1C3;
  box-sizing: border-box;
}

#search-contact {
  position: absolute;
  left: 30px;
  top: 18px;
  font-size: 14px;
}

#ask {
  border: none;
  width: 385px;
  height: 35px;
  padding-left: 60px;
  border-radius: 17.5px;
  background-color: #FFF;
  box-sizing: border-box;
}

#ask::placeholder {
  color: #BDC1C3;
}

#containercontact {
  height: auto;
  background-color: #FFF;
}

.boxcontact {
  cursor: pointer;
  height: 72px;
  background-color: #FFF;
  border-top: 1px solid #f2f2f2;
  position: relative;
  box-sizing: border-box;
}
.boxcontact:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.boxcontact:hover{
  background-color: #F4F5F5;
}



.activechat.boxcontact:hover{
  background-color: #E9EBEB;
}

.boxcontact .userphoto {
  width: 50px;
}

.ifouser {
  margin-left: 15px;
  padding-top: 10px;
  display: inline-block;
}

.ifouser p, .infomessage p {
  margin: 0;
}

.nomeuser {
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
}
.previewmessage {
  font-size: 14px;
  color: #454545;
}

.infomessage {
  position: absolute;
  top: 12px;
  right: 20px;
  display: inline-block;
}

.infomessage .time {
  font-size: 12px;
  margin-bottom: 5px;
  color: #CCC;
}


/* chat*/
#chatarea {
  position: absolute;
  top: 0;
  left: 410px;
  width: calc(100% - 410px);
  height: 100%;
  background-color: #CCC;
}

#chatnavbar {
  height: 60px;
  background-color: #EEE;
  border-left: 1px solid #DDD;
}

#chatnavbar p {
  margin: 0;
  float: right;
  margin-left: 20px;
}

#containercontactinfo {
  display: inline-block;
}

#containercontactinfo .nomeuser {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
}

